extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        h1= project.project_name


        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in project.technologies

            li= technology
     
        a.btn-link(href=`${project.live_link}` target='_blank' rel='noopener noreferrer') Live Demo
        a.btn-link(href=`${project.github_link}` target='_blank' rel='noopener noreferrer') GitHub Repo

    .project-img-box.box
      h6 Project Preview
      .project-gallery
        each image, index in project.image_urls
          .project-gallery-item
            if index === 0
              span.project-gallery-label Desktop
            else if index === 1
              span.project-gallery-label Tablet
            else if index === 2
              span.project-gallery-label Mobile
            else
              span.project-gallery-label Preview
            img.project-img(src=`/${image}`, alt=`${project.project_name} preview ${index + 1}`)

