extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-intro.releases-intro
    h1 Releases and Updates
    p This section tracks the evolution of my portfolio through structured releases and ongoing improvements. Major releases represent larger milestones such as a new portfolio version, while minor releases focus on new projects, refinements, and technical upgrades.

  article.releases-board
    .releases-box.box
      each release in releases
        .release-card
          .release-card-header
          
            h2.release-version= release.version
          
            span(class=`release-status status-${release.status.toLowerCase().replace(/\s+/g, "-")}`)= release.status

          .release-meta
           
            span.release-type= release.type
          
            span.release-date= release.target_release_date

      
          p.release-description= release.description

          h6.release-subtitle Planned Changes
          ul.release-change-list
            each item in release.changes
              li= item
